{% extends "jumbotron-narrow.html" %}

{% block title %}404 File not found - Friendly Monkeys{% endblock %}

{% block navigation %}
      <div class="header">
	<h3><span class="glyphicon glyphicon-heart-empty" style="color:#ff33cc"></span> Friendly Monkeys</h3>
      </div>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<h1>This is not the data you were looking for</h1>
	<span class="glyphicon glyphican-hand-up"></span>
	<p>Move along. Nothing to see here.</p>
</div><!-- /jumbotron -->
{% endblock %}
