{% extends "jumbotron-narrow.html" %}

{% block title %}Example data - Friendly Monkeys{% endblock %}

{% block content %}
<div class="jumbotron">
	{% if confirm %}
		{% if success %}
		<h1>Example data loaded</h1>
		<p>Now go back to <a href="{{ url_for('welcome') }}">front page</a>.</p> {% else %}
		<h1>Example data loading failed</h1>
		<p>It was probably already loaded or then monkeys with the same names already exits. You should try to <a href="{{ url_for('wipe_database') }}">wipe the database</a> first.</p>
		{% endif %}
	{% else %}
		<h1>Load example data</h1>
		<p><a class="btn btn-lg btn-success" href="{{url_for('load_example_data', confirm=1)}}" role="button">Yes, load the data!</a> or <a href="{{ url_for('wipe_database') }}">wipe the database</a> first.</p>
	{% endif %}

</div><!-- /jumbotron -->
{% endblock %}


